body {
  font-family: "Roboto";
  font-size: 14px;
}
 a {
  text-decoration: none;
}
.container {
  box-sizing: border-box;
  max-width: 1140px;
  margin: 0 auto;
}
.containerr{
  max-width: 100%;
}
.containerr fieldset{
  justify-content: space-around;
  text-align: justify;
  
}



.containerr fieldset legend{
  background-color: #5a98d0;
  color: #fff;
  padding: 3px 6px;
}
.container h6{
  background-color: #5a98d0;
  color: #fff;
  padding-left: 10px;
  font-size: 20px;
}
.wrapper-main-page .container {
  display: flex;
  height: 100%;
}
.header-nav {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 115px;
}
.header-nav a:hover {
  opacity: 0.7;
}
.contacts-header-nav {
  margin-bottom: 50px;
}
.wrapper-main-page {
  height: 570px;
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}



.main-page {
  flex-grow: 1;
  color: #1f3f68;
  background-image: url(./img/illustration1.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.main-page h1 {
  font-weight: 300;
  font-size: 64px;
  max-width: 550px;
  margin-bottom: 30px;
  line-height: 1.15;
}
.main-page p {
  font-size: 16px;
  font-weight: normal;
  max-width: 425px;
  margin-bottom: 70px;
  line-height: 1.6;
}
.main-page a {
  font-size: 16px;
  font-weight: normal;
  padding: 15px 50px;
  color: #ffffff;
  background-color: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  transition: 0.3s;
}
.main-page a:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.our-team {
  color: #1f3f68;
}
.our-team h2 {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin: 64px 0;
}
.our-team a {
  text-decoration: none;
  color: #5a98d0;
  font-size: 14px;
}
.our-team a:hover {
  color: #2e5c99;
}
.row-cardsT {
  
  justify-content: space-between;
  
}.row-cards {
  display: flex;
  justify-content: space-between;
}
.row-cards .card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 360px;
  padding: 43px;
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;

}

.row-cardsT .cardT {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1140px;
  padding: 43px;
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin-bottom: 24px;
}
.cardT img {
  margin-bottom: 50px;
  margin-right: 20px;
  align-self: center;
}
.card img {
  margin-bottom: 50px;
  margin-right: 50px;
  align-self: center;
}
.cardT h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
.card h3 {
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
}
.cardT p {
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
  text-align: justify;
  margin: 0px 70px 0px 70px;
}
.card p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
}
.card a {
  bottom:0;
}



.finished-projects {
  margin-top: 65px;
  margin-bottom: 110px;
}
.row-finished-pojects,
.row-finished-pojects-2 {
  position: relative;
}
.project_list_center{
  text-align: center;
  
}
.project_list_list{
  margin-bottom: 130px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
}
.project_list_list a{
  color: #000 !important;
  text-decoration: none
}
.project_media{
  display: grid;
  text-align: center;
  justify-content: center;
}
.project_list h1{
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
.project_list p{
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
  
}
.project_img{
  text-align: center;
  margin-bottom: 30px;
}
.project_video{
  text-align: center;
  margin-bottom: 30px;
  max-width: 570px;
}
.projects__pic {
  max-width: 100%;
  border-radius: 10px;
}

.finished-projects h2 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
}
.finished-projects p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 64px;
}


.projects__item__top {
  display: flex;
  justify-content: flex-end;
}
.projects__item {
  flex-grow: 1;
  margin-right: 32px;
}
.projects__item:last-child {
  margin-right: 0;
}
.projects__item__top h4 {
  z-index: 1;
  padding-top: 64px;
  padding-right: 64px;
  color: #ffffff;
  font-size: 2rem;
  font-weight: normal;
  position: absolute;
}
.projects__item h4 {
  z-index: 1;
  color: #ffffff;
  font-size: 28px;
  font-weight: normal;
  padding-top: 32px;
  padding-left: 32px;
  position: absolute;
}

.row-finished-pojects-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.footer-wrapper {
  background-color: #316099;
  color: #ffffff;
}
.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer h3 {
  font-size: 35px;
  font-weight: normal;
  line-height: 1.3;
  max-width: 340px;
  padding: 91px 0 32px 0;
}
footer p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  padding-bottom: 95px;
  max-width: 495px;
}
footer .linka {
  color: #ffffff;
  background-color: #5a98d0;
  padding: 15px 70px;
}
footer .linka:hover {
  background-color: #9bb8d1;
}
footer ol {
  display: flex;
  justify-content: space-around;
  margin: 64px 0px;
  padding-left: 15px;
}
footer li {
  max-width: 315px;
  padding-left: 15px;
}
footer span {

  text-align: center;
  opacity: 0.6;
  padding-bottom: 50px;
  margin: 0px 440px;
}

footer .sss{
  display: grid;
}


.contacts-container {
  max-width: 1366px;
}
.contacts-container .header-nav {
  margin-bottom: 60px;
}
.work-hours {
  display: flex;
}
.contacts-wrapper {
  background-image: url(./img/contact-bg.png);
  background-repeat: no-repeat;
  width: 100%;
}
.title-contact {
  color: #ffffff;
  font-weight: normal;
  font-size: 44px;
  text-align: center;
  padding-bottom: 26px;
  padding-top: 40px;
}
.work-hours .text {
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  max-width: 780px;
  margin: 0 auto;
  margin-bottom: 50px;
}
form {
  padding: 50px;
  background: #ffffff;
  box-shadow: 5px 10px 50px rgb(16 112 177 / 20%);
  border-radius: 10px;
}
.form-item {
  font-size: 18px;
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
  margin-bottom: 35px;
  padding: 21px 160px 21px 40px;
}
.row form label {
  font-size: 18px;
}
.button-sub {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 23px 180px;
  cursor: pointer;
}
.button-sub:hover {
  opacity: 0.8;
}
.message-area {
  margin-bottom: 70px;
}
.contacts-row {
  display: flex;
  justify-content: space-between;
  color: #1f3f68;
  align-items: center;
  margin: 50px 0;
}
.contacts-row li {
  list-style-type: none;
  font-weight: 300;
  font-size: 16px;
}
.subtitle {
  margin-top: 50px;
  font-size: 20px;
  text-transform: uppercase;
}
.text {
  margin: 30px 0;
  font-weight: 300;
  font-size: 16px;
  max-width: 300px;
}
.phone-icon::before {
  content: url(./img/phone.png);
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
.online-services a {
  font-weight: normal;
  font-size: 16px;
  color: #1f3f68;
}
.cite-icon::before {
  content: url(./img/cite-icon.png);
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
.email-icon::before {
  content: url(./img/email-icon.png);
  display: inline-block;
  margin-right: 20px;
}
.col-2 {
  align-self: flex-start;
}
.col-2 .subtitle {
  margin-bottom: 45px;
  margin-top: 0;
}
label {
  font-weight: normal;
  font-size: 16px;
}
.map-point {
  margin-bottom: 100px;
}
.ttt{
  border: 2px;
  margin: auto;
  margin-bottom: 30px;
  width: 100%;
  
}
.green{
  background-color: #97DB9A;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 32px;
  }
  .contacts-container {
    padding: 0;
  }
  .main-page {
    background-size: 50%;
    background-position: 80%;
  }
  .row-cards {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-bottom: 32px;
  }
  footer p {
    max-width: 336px;
  }
  .footer-row {
    justify-content: center;
  }
  .col-2 a {
    padding: 6px 40px;
    margin-left: 50px;
  }
  footer ol {
    flex-direction: column;
    align-items: flex-start;
  }
  footer li {
    max-width: 100%;
    margin-bottom: 25px;
    padding-left: 36px;
  }
}
@media (max-width: 991px) {
  .contacts-row {
    flex-direction: column;
    margin: 60px 0;
  }
  .contacts-row .col-2 {
    align-self: center;
    margin-top: 60px;
  }
  footer a {
    padding: 5px 40px;
  }
}
@media (max-width: 767px) {
  .title-contact {
    font-size: 24px;
  }
  .work-hours .text {
    font-size: 16px;
    line-height: 1.8;
  }
  .form-item {
    font-size: 14px;
    padding: 10px 70px 10px 40px;
    margin-bottom: 20px;
  }
  .button-sub {
    padding: 13px 115px;
  }
}
@media (max-width: 545px) {
  .footer-row {
    flex-direction: column;
  }
  footer h3 {
    font-size: 24px;
    padding: 18px 0 32px 0;
    text-align: center;
  }
  footer p {
    padding-bottom: 30px;
    text-align: center;
  }
  footer a {
    display: inline-block;
    margin-bottom: 45px;
  }
  .col-2 a {
    display: block;
    margin: 40px 0;
  }
}
@media (max-width: 425px) {
  .header-nav {
    margin-top: 24px;
    margin-bottom: 36px;
  }
  .container {
    padding: 0 16px;
  }

  .wrapper-main-page {
    height: 356px;
  }
  .main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
  }
  .main-page h1 {
    font-size: 32px;
    line-height: 37px;
    text-align: center;
  }
  .main-page a {
    font-size: 12px;
    padding: 10px 25px;
  }
  .main-page p {
    max-width: 343px;
    margin-bottom: 35px;
    text-align: center;
  }
  .our-team h2 {
    font-size: 24px;
    margin: 32px 0;
  }
  .finished-projects h2 {
    font-size: 24px;
  }
  .row-finished-pojects-2 {
    flex-direction: column;
    margin-top: 16px;
  }
  .projects__item {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .projects__item__top h4 {
    font-size: 16px;
    padding-top: 16px;
    padding-right: 16px;
  }
  .projects__item h4 {
    font-size: 16px;
    padding-top: 16px;
    padding-left: 16px;
  }
  footer ol {
    margin: 37px 0;
    padding-left: 25px;
  }
  footer li {
    padding-left: 20px;
  }
  footer span {
    padding-bottom: 32px;
    padding-left: 15px;
  }
  form {
    padding: 30px;
  }
  .col-2 .subtitle {
    margin-bottom: 25px;
  }
  .button-sub {
    padding: 7px 95px;
  }
  .form-item {
    padding: 10px 50px 10px 30px;
    margin-bottom: 15px;
  }
}
@media (max-width: 375px) {
  .form-item {
    padding: 10px 30px 10px 30px;
  }
  .button-sub {
    padding: 5px 88px;
  }
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Light.ttf);
  font-weight: 300;
  
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf);
  font-weight: normal;
  
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Medium.ttf);
  font-weight: 500;
  
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Bold.ttf);
  font-weight: bold;
  
}
